<h1>Cargos</h1>
<!—Boton para abrir Ventana Modal -->
<button class="btn btn-primary"  (click)="open(cargosModal)">Nuevo</button>
<br>
<!—Ventana Modal -->
<ng-template #cargosModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Cargo</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form >
      <div class="form-group">
        <label for="">Nombre</label>
        <input type="text" name="tipo" [(ngModel)]="cargo.nombre_cargo"  class="form-control" placeholder="Ingrese nombre del cliente" >
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Cerrar</button>
    <button type="button" class="btn btn-primary" (click)="guardarcargo()">Guardar</button>
  </div>
</ng-template>
<!--Cierre Ventana Modal  -->
<br>
<!-- Lista de Aportes -->
<table class="table" >
  <thead class="thead-dark">
    <tr>
      <th scope="col">Código</th>
      <th scope="col">Nombre</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
<!-- Recorre arreglo de aportes almacenándola en variable  producto desde productos -->
    <tr *ngFor="let cargo of cargos">
      <td></td>
      <td></td>
      <td>
<!-- Envia datos de determinado producto desde arreglo a NgModel de producto -->
          <button class="btn btn-warning" (click)="editcargo(cargo)"><i class="far fa-edit"></i></button> &nbsp;
<!-- Elimina producto obteniendo id desde arreglo a NgModel de producto -->
          <button class="btn btn-danger" (click)="borrarcargo(cargo.id_cargo)"><i class="far fa-trash-alt"></i></button>
      </td>
    </tr>
  </tbody>
</table>
<!-- Cierre de Lista de Productos -->


