<h1>PedidoProveedor</h1>
<!—Boton para abrir Ventana Modal -->
  <button class="btn btn-primary" (click)="open(pedidoproveedorModal)">Nuevo</button>
  <br>
  <!—Ventana Modal -->
    <ng-template #pedidoproveedorModal let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">PedidoProveedor</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="">Cantidad Pedido</label>
            <input type="text" name="tipo" class="form-control" placeholder="Ingrese una cantidad"
            [(ngModel)]="pedidoproveedor.cantidad_pedido_prov">
          </div>
          <div class="form-group">
            <label for="">Fecha caducidad pedido</label>
            <input type="date" name="tipo" class="form-control" placeholder="Ingrese una fecha"
            [(ngModel)]="pedidoproveedor.Fecha_caducidad_ped_prov">
          </div>
          <div class="form-group">
            <label for="">Local</label>
            <select class="form-control">
              <option>Local 1</option>
              <option>Local 2</option>
              <option>Local 3</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Cerrar</button>
        <button type="button" class="btn btn-primary"(click)="guardarPedidoProveedor()">Guardar</button>
      </div>
    </ng-template>
    <!--Cierre Ventana Modal  -->
    <br>
    <!-- Lista de Aportes -->
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Caducidad</th>
          <th scope="col">Proveedor</th>
          <th scope="col">Local</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <!-- Recorre arreglo de aportes almacenándola en variable  producto desde productos -->
         <tr *ngFor="let pedidoproveedor of pedidoproveedores">
          <td>{{pedidoproveedor.id_dedido_prov}}</td>
          <td>{{pedidoproveedor.cantidad_pedido_prov}}</td>
          <td>{{pedidoproveedor.Fecha_caducidad_ped_prov}}</td>
          <td>{{pedidoproveedor.id_prov}}</td>
          <td>{{pedidoproveedor.id_local}}</td>
          <td>
            <!-- Envia datos de determinado producto desde arreglo a NgModel de producto -->
            <button class="btn btn-warning" (click)="editPedidoProveedor(pedidoproveedor)"><i class="fa fa-edit"></i></button> &nbsp;
            <!-- Elimina producto obteniendo id desde arreglo a NgModel de producto -->
            <button class="btn btn-danger"(click)="borrarPedidoProveedor(pedidoproveedor.id_dedido_prov)"><i class="fa fa-trash-alt"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Cierre de Lista de Productos -->
