<!-- Sidebar Menu -->
<nav class="mt-2">
  <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <!-- Add icons to the links using the .nav-icon class
           with font-awesome or any other icon font library -->
    <li class="nav-item has-treeview">
      <a href="#" class="nav-link">
        <i class="nav-icon fa fa-list"></i>
        <p>
          Inventario
          <i class="fa fa-angle-left right"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a routerLink="/admin/productos" class="nav-link">
            <i class="fa fa-circle nav-icon"></i>
            <p>Producto</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin/platos" class="nav-link">
            <i class="fa fa-circle nav-icon"></i>
            <p>Platos</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin/tipoPlato" class="nav-link">
            <i class="fa fa-circle nav-icon"></i>
            <p>Tipos de Platos</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin/ingredientes" class="nav-link">
            <i class="fa fa-circle nav-icon"></i>
            <p>Ingredientes</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin/menu" class="nav-link">
            <i class="fa fa-circle nav-icon"></i>
            <p>Menu</p>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item has-treeview">
      <a href="#" class="nav-link">
        <i class="nav-icon fa fa-shopping-basket"></i>
        <p>
          Venta
          <i class="fa fa-angle-left right"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a href="" class="nav-link">
            <i class="fa fa-circle nav-icon"></i>
            <p>Lista de Ventas</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">
            <i class="fa fa-circle nav-icon"></i>
            <p>Facturar</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin/pedidos" class="nav-link">
            <i class="fa fa-circle nav-icon"></i>
            <p>Pedidos</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">
            <i class="fa fa-circle nav-icon"></i>
            <p>Menu Pedidos</p>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item has-treeview">
      <a href="#" class="nav-link">
        <i class="nav-icon fa fa-user"></i>
        <p>
          Personas
          <i class="fa fa-angle-left right"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a routerLink="/admin/usuarios" class="nav-link">
            <i class="fa fa-circle nav-icon"></i>
            <p>Usuarios</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin/empleados" class="nav-link">
            <i class="fa fa-circle nav-icon"></i>
            <p>Empleados</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin/cliente" class="nav-link">
            <i class="fa fa-circle nav-icon"></i>
            <p>Clientes</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin/proveedores" class="nav-link">
            <i class="fa fa-circle nav-icon"></i>
            <p>Proveedores</p>
          </a>
        </li>

      </ul>
    </li>
    <li class="nav-item has-treeview">
      <a href="#" class="nav-link">
        <i class="nav-icon fa fa-cog"></i>
        <p>
          Ajustes
          <i class="fa fa-angle-left right"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a routerLink="/admin/cargos" class="nav-link">
            <i class="fa fa-circle nav-icon"></i>
            <p>Cargo</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin/telefonos" class="nav-link">
            <i class="fa fa-circle nav-icon"></i>
            <p>Telefono</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin/locales" class="nav-link">
            <i class="fa fa-circle nav-icon"></i>
            <p>Local</p>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
<!-- /.sidebar-menu -->
