<h1>Pedidos</h1>
<!—Boton para abrir Ventana Modal -->
  <button class="btn btn-primary" (click)="open(pedidoModal)">Nuevo</button>
  <br>
  <!—Ventana Modal -->
    <ng-template #pedidoModal let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Pedido</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="">Tipo</label>
            <input type="text" name="tipo" class="form-control" placeholder="Ingrese tipo pedido"
            [(ngModel)]="pedido.tipo_pedido">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Cerrar</button>
        <button type="button" class="btn btn-primary"(click)="guardarPedidos()">Guardar</button>
      </div>
    </ng-template>
    <!--Cierre Ventana Modal  -->
    <br>
    <!-- Lista de Aportes -->
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Tipo</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <!-- Recorre arreglo de aportes almacenándola en variable  producto desde productos -->
        <tr *ngFor="let pedido of pedidos">
          <td>{{pedido.id_pedido}}</td>
          <td>{{pedido.tipo_pedido}}</td>
          <td>
            <!-- Envia datos de determinado producto desde arreglo a NgModel de producto -->
            <button class="btn btn-warning"(click)="editPedidos(pedido)"><i class="fa fa-edit"></i></button> &nbsp;
            <!-- Elimina producto obteniendo id desde arreglo a NgModel de producto -->
            <button class="btn btn-danger"(click)="borrarPedidos(pedido.id_pedido)"><i class="fa fa-trash-alt"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Cierre de Lista de Productos -->



